[package]
name="tinywasm-cli"
version.workspace=true
description="TinyWasm CLI"
edition.workspace=true
license.workspace=true
authors.workspace=true
repository.workspace=true
rust-version.workspace=true

[[bin]]
name="tinywasm-cli"
path="src/bin.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tinywasm={version="0.7.0", path="../tinywasm", features=["std", "parser"]}
argh="0.1"
color-eyre={version="0.6", default-features=false}
log="0.4"
pretty_env_logger="0.5"
wast={version="211.0", optional=true}

[features]
default=["wat"]
wat=["dep:wast"]
