[package]
name="tinywasm"
version.workspace=true
description="A tiny WebAssembly interpreter"
edition.workspace=true
license.workspace=true
authors.workspace=true
repository.workspace=true
readme="../../README.md"

[lib]
name="tinywasm"
path="src/lib.rs"

[dependencies]
log={version="0.4", optional=true}
tinywasm-parser={version="0.2.0-alpha.0", path="../parser", default-features=false, optional=true}
tinywasm-types={version="0.2.0-alpha.0", path="../types", default-features=false}

[dev-dependencies]
wasm-testsuite={path="../wasm-testsuite"}
wast={version="70.0"}
owo-colors={version="4.0"}
eyre={version="0.6"}
serde_json={version="1.0"}
serde={version="1.0", features=["derive"]}
plotters={version="0.3"}
pretty_env_logger="0.5"

[features]
default=["std", "parser", "logging"]
logging=["log", "tinywasm-types/logging", "tinywasm-parser?/logging"]
std=["tinywasm-parser?/std", "tinywasm-types/std"]
parser=["tinywasm-parser"]

[[test]]
name="generate-charts"
harness=false

[[test]]
name="test-mvp"
harness=false

[[test]]
name="test-wast"
harness=false
